<div class="register-login-style">
  <div>
    <img src="assets/twitter-logo.svg" alt="Twitter Logo" />
    <h1 i18n class='auth-page-header'>{{'Enter your email or @username'}}</h1>
    <form [formGroup]="loginForm" class='auth-page-form' (ngSubmit)="onSubmit()">
      <input type="text" id="username" formControlName="username" placeholder="Username or email" />
      <input type="password" id="password" formControlName="password" />
      <!-- TODO: Spinner while waiting for login response -->
      <div *ngIf="logInCallError" class="login-error-label">
        {{ logInCallError }}
      </div>
      <button i18n type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
    <button i18n (click)="navigateToRegister()">
      Register
    </button>
  </div>
</div>