:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  background-color: var(--color-grayscale-white);
  :nth-child(1) {
    @media (max-width: var(--breakpoint-desktop)) {
      box-sizing: border-box;
      width: 100%;
      height: var(--mobile-navbar-height);
    }
  }
  :nth-child(2) {
    @media (max-width: var(--breakpoint-desktop)) {
      width: 100%;
      height: calc(100% - var(--mobile-navbar-height));
    }
  }
  :nth-child(3) {
    @media (max-width: var(--breakpoint-desktop)) {
      display: none;
    }
  }
}
